<!DOCTYPE html>
<html>
<head>

{{> WEB-INF/views/common_head_tags.mustache}}

</head>
<body>

	<div id="errorBody">

		<h1>An error occurred...</h1>
		
		<h2>{{error.httpCode}}{{#error.httpMessage}}: {{error.httpMessage}}{{/error.httpMessage}}</h2>
		
		{{#error.errorMessage}}
			<p>{{error.errorMessage}}{{#error.location}} <a href="{{base_path}}{{error.location}}">Click here</a> to be redirected.{{/error.location}}</p>
		{{/error.errorMessage}}
		
		{{#error.referenceId}}
			<p>Reference ID: {{error.referenceId}}</p>
		{{/error.referenceId}}
		
		<img class="fade" src="{{base_path}}/resources/images/error_image.jpg" alt="error_logo" style="position:absolute; left:300px; top:150px;" />
		
	</div>
	
</body>
</html>