<!DOCTYPE html>
<html>
<head>

{{> WEB-INF/views/common_head_tags.mustache}}

<script language="javascript" type="text/javascript">
	function getOccupations() {
		$.ajax(
		{
			datatype: "html",
			type: "GET",
			url: "{{base_path}}/list/occupations{{#form.occupation}}?selected={{form.occupation}}{{/form.occupation}}",
			success: function(response) {
				$("#occupation").html(response);
			},
			error: function(e) {
				alert("Error: " + e);
			}
		});
	}
	
	$(function() {
		$( "#birthdate" ).datepicker();
		
		{{#hasErrors}}
			$( "#dialog-errors" ).dialog({
				dialogClass: "no-close",
				resizable: false,
				height:200,
				width:400,
				modal: true,
				buttons: {
					"OK": function() {
						$( this ).dialog( "close" );
					}
				}
			});
		{{/hasErrors}}
		
	});
	
</script>
</head>
<body onload="getOccupations();">

	{{#hasErrors}}
	<div id="dialog-errors" title="Validation errors">
  		<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Please correct the following errors and resubmit:<ul>{{#errors}}<li>{{.}}</li>{{/errors}}</ul></p>
	</div>
	{{/hasErrors}}

	{{> WEB-INF/views/common_page_header.mustache}}
	
	<h1>Survey</h1>
	<form action="{{base_path}}/simple/example" method="POST" accept-charset="UTF-8">
		<table>
			<tr>
				<td><label for="name">Name: </label></td>
				<td><input type="text" id="name" name="name" {{#form.name}}value="{{form.name}}"{{/form.name}} /></td>
			</tr>
			<tr>
				<td><label for="occupation">Occupation: </label></td>
				<td>
					<select id="occupation" name="occupation">
						<option>LOADING...</option>
					</select>
				</td>
			</tr>
			<tr>
				<td><label for="married">Married: </label></td>
				<td><input type="checkbox" id="married" name="married" {{#form.married}}checked="checked"{{/form.married}} /></td>
			</tr>
			<tr>
				<td><label for="birthdate">Date of birth: </label></td>
				<td><input type="text" name="birthdate" id="birthdate" {{#form.formattedBirthdate}}value="{{form.formattedBirthdate}}"{{/form.formattedBirthdate}} /></td>
			</tr>
			<tr>
				<td><label>Gender: </label></td>
				<td>
					<input type="radio" name="gender" id="male" value="male" {{#form.maleChecked}}checked="checked"{{/form.maleChecked}} /><label for="male">Male</label><br />
					<input type="radio" name="gender" id="female" value="female" {{#form.femaleChecked}}checked="checked"{{/form.femaleChecked}} /><label for="female">Female</label><br />
					<input type="radio" name="gender" id="invalid" value="invalid" /><label for="invalid">(invalid)</label>
				</td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" id="submit" value="SUBMIT" /></td>
			</tr>
		</table>
	</form>
	
	{{> WEB-INF/views/common_page_footer.mustache}}
	
</body>
</html>