body {
    color: #000000;
    font-size: 12px;
}
form {
	padding:0px;
	margin:0px;
}
table {
    font-size: 12px;
}
body, p, h1, h2, h3, h4, table, td, th, ul, ol, textarea, input {
    font-family: verdana,helvetica,arial,sans-serif;
}
h1 {
	font-size: 18px;
}
h2 {
	font-size: 14px;
}

.fade {
	opacity: 0.3; 
	background: #fff;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; /* IE 8 */
	filter: alpha(opacity=30); /* older IEs */
}