<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=8" />

<title>RWS Reference</title>

<link rel="stylesheet" type="text/css" href="{{base_path}}/resources/css/common.css" />

<link rel="stylesheet" type="text/css" href="{{base_path}}/resources/css/jquery/jquery-ui.css" />

<script language="javascript" type="text/javascript" src="{{base_path}}/resources/javascript/common.js"></script>
<script language="javascript" type="text/javascript">/*disable Cross-Frame Scripting*/ if (top != self) top.location=location</script>

<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="{{base_path}}/resources/javascript/jquery/excanvas.js"></script><![endif]-->
<script language="javascript" type="text/javascript" src="{{base_path}}/resources/javascript/jquery/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="{{base_path}}/resources/javascript/jquery/jquery-ui.js"></script>